@{
    ViewBag.Title = "حول البرنامج ";
}
<h2>@ViewBag.Title</h2>
<h3>برنامج الموظف والوظيفه تم تصميمه بلغه asp .net mvc  مع قاعده بيانات sql server@*@ViewBag.Message*@</h3>

@*<p>برنامج الموظف والوظيفه تم تصميمه بلغه asp .net mvc  مع قاعده بيانات sql server</p>*@
