@{
    ViewBag.Title = "للتواصل";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    تصميم وبرمجه م/ فادي احمد<br/>
    فلسطين<br />
    غزة<br />
    <abbr title="Phone">www.facebook.com/fady ahmed</abbr>
   
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:fadyahmed80@hotmail.com">fadyahmed80@hotmail.com  / fa21k@yahoo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:fadyahmed80@hotmail.com">fadyahmed80@hotmail.com / fa21k@yahoo.com</a>
</address>